<div
  class="break-word flex w-full flex-col space-y-1 text-wrap px-2 leading-[14pt] text-[#828282]"
>
  <h3 class="mb-1">
    <button
      class="flex cursor-pointer items-center text-wrap text-[13pt] font-semibold text-black sm:text-[12pt]"
    >
      <p>Using the search modes</p>
    </button>
  </h3>
  <div
    class="ml-3 flex flex-col gap-y-[6px] text-wrap text-[11pt] text-black sm:text-[10pt]"
  >
    <p>
      There aren't specific strings of words (AKA search queries) which you
      should use for fulltext and not semantic search. Really, it's about the
      type of results you want to see. Here's an explanation of what the search
      index will do in different modes with a query like "React vs. SolidJS":
    </p>
    <div class="flex flex-col gap-y-2 pl-2">
      <p>
        - <u><b>Fulltext</b>:</u> There are 6 tokens in the query: "React",
        "vs.", "JS", "Solid", and "SolidJS". Fulltext is powered by a neural net
        called SPLADE which will rank these tokens by importance in the order:
        "SolidJS", "React", "vs.", "Solid", "JS". It will then return results
        which have tokens biasing towards the front of the list. It understands
        that you want documents with "SolidJS" and "React", but it doesn't
        understand that you specifically want results comparing them. Therefore,
        it may return documents mentioning "React" and "SolidJS" in random,
        seemingly unrelated contexts.
      </p>
      <p>
        - <u><b>Semantic</b>:</u> In this mode, the query "React vs. SolidJS"
        will be transformed into a vector (array of floating point numbers)
        which represents the meaning of the query. The search index will then
        return documents which are closest to this vector. The vector will
        reflect that you want documents about comparing "React" and "SolidJS",
        but also comparisons and JS frameworks in general. Understandably, the
        search results may rank documents comparing "Vue" and "Angular" higher
        than a doc talking about "SolidJS performance".
      </p>
      <p>
        - <u><b>Hybrid</b></u> search performs both a fulltext and semantic
        search then ranks the results with a cross-encoder (bge-large-en
        re-reranker) to merge them. Usually, it's the best of both words, but it
        can take 500+ms to return results and is therefore not the default
        search method.
      </p>
      <p>
        - <u><b>Keyword</b></u> search takes the tokens for the query — React",
        "vs.", and "SolidJS" — OR'ed together and returns results which have at
        least one matching token sorted by BM25 scores. There is some bias
        towards tokens which are less present in the dataset overall, but no
        understanding of the meaning of the query.
      </p>
    </div>
  </div>
</div>
