<div class="rounded-md px-2 pb-2">
  <div class="flex flex-wrap items-center">
    <div
      class="break-word mb-[-6px] w-full text-wrap leading-[14pt] text-[#828282]"
    >
      <a
        class="mr-1 text-wrap text-[11pt] text-black sm:text-[10pt]"
        href="{{result.chunk.metadata.url}}"
      >
        {% if result.chunk.chunk_html %} {{result.chunk.chunk_html|safe}} {%
        elif result.chunk.metadata.title %} {{result.chunk.metadata.title}} {%
        elif result.chunk.parent_title %} {{result.chunk.metadata.parent_title}}
        {% elif result.chunk.metadata.text %}
        {{result.chunk.metadata.text|safe}} {% endif %}
      </a>

      {% if result.chunk.metadata.url %}
      <a
        class="break-all text-[8pt] text-[#828282] hover:underline"
        href="https://news.ycombinator.com/from?site={{result.chunk.metadata.url|format_link}}"
      >
        ({{result.chunk.metadata.url|format_link}})
      </a>
      {% endif %}
    </div>
    <div
      class="w-full items-center pt-1 text-[9pt] text-[#828282] sm:text-[7pt]"
    >
      <span
        >{{result.chunk.metadata.score}} points by
        <a
          class="hover:underline"
          href="https://news.ycombinator.com/user?id={{result.chunk.metadata.by}}"
          >{{result.chunk.metadata.by}}
        </a>
        <a
          class="hover:underline"
          href="https://news.ycombinator.com/item?id={{result.chunk.metadata.id}}"
        >
          {{ result.chunk.metadata.time|time_ago }}
        </a>
      </span>
      <span class="px-1">|</span>
      {% if result.chunk.metadata.descendants %}
      <a
        class="hover:underline"
        href="https://news.ycombinator.com/item?id={{result.chunk.metadata.id}}"
      >
        {{result.chunk.metadata.descendants}} comment(s)
      </a>
      {% else %}
      <a
        class="hover:underline"
        href="https://news.ycombinator.com/item?id={{result.chunk.metadata.id}}"
      >
        context
      </a>
      {% endif %} {% if result.score > 0 %}
      <span class="px-1">|</span>
      <span>Score {{ result.score|round_score }}</span>
      {% endif %}
    </div>
  </div>
</div>
