<div
  class="break-word flex w-full flex-col space-y-1 text-wrap px-2 leading-[14pt] text-[#828282]"
>
  <h3 class="mb-1">
    <button
      class="flex cursor-pointer items-center text-wrap text-[13pt] font-semibold text-black sm:text-[12pt]"
    >
      <p>Why Make This?</p>
    </button>
  </h3>
  <div
    class="ml-3 flex flex-col gap-y-[6px] text-wrap text-[11pt] text-black sm:text-[10pt]"
  >
    <p>
      1. Dense vector semantic search, re-rankers, SPLADE, and other techniques
      have gotten a lot of hype recently, but it's hard to figure out where each
      technique is best applied. We're hackers and built hacker'y features into
      Trieve to make it easier to test and experiment with this new tech, and
      needed a dataset us and our friends would have knowledge of to mess with.
      We're hoping to build lots of cool shareable projects on top of this demo
      to learn and collect feedback with.
    </p>
    <p>
      2. Make HN search more explorable with recommendations plus RAG and more
      open with public analytics. We added a feedback button under the search
      bar and are collecting CTR data such that we can continously fine-tune our
      models to improve the search experience. If you have some time, try out
      our
      <a class="underline" href="https://hn-comparison.trieve.ai"
        >blind comparison at hn-comparison.trieve.ai</a
      >
      to help us collect higher quality training data.
    </p>
    <p>
      3. Open up a more fully-featured discovery API for others who want to
      build on top of HN data. The firebase HN API is great, but storing all the
      data yourself is expensive and time-consuming. We are hoping to lower that
      barrier in the old
      <a class="underline" href="https://news.ycombinator.com/item?id=2619892"
        >Octopart HNSearch spirit</a
      >.
    </p>
    <p>
      4. Show what's possible with Trieve, work out scaling/stability bugs, and
      pressure test.
    </p>
    <p>
      5. HN is a cool place where we like to spend time and showing what we are
      working on to this community we feel apart is something we're excited
      about!
    </p>
  </div>
</div>
