{% extends "index.html" %} {% block body %}
<div class="my-6 flex flex-col gap-y-5">
  {% include "components/advancedsearchsyntax.html" %}
  {% include "components/searchmodes.html" %}
  <div
    class="break-word flex w-full flex-col space-y-1 text-wrap px-2 leading-[14pt] text-[#828282]"
  >
    <h3 class="mb-1">
      <button
        class="flex cursor-pointer items-center text-wrap text-[13pt] font-semibold text-black sm:text-[12pt]"
      >
        <p>Contact Us</p>
      </button>
    </h3>
    <div
      class="ml-3 flex flex-col gap-y-[6px] text-wrap text-[11pt] text-black sm:text-[10pt]"
    >
      <p>
        Email:
        <a class="underline" href="mailto:humans@trieve.ai">humans@trieve.ai</a>
      </p>
      <p>𝕏: <a class="underline" href="https://x.com/trieveai">@trieveai</a></p>
      <p>
        <svg
          stroke-width="2"
          color="currentColor"
          style="overflow: visible"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          viewBox="0 0 24 24"
          class="inline-block h-4 w-4"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
          ></path>
          <path d="M2 9H6V21H2z"></path>
          <path d="M4 2A2 2 0 1 0 4 6 2 2 0 1 0 4 2z"></path></svg
        >:
        <a class="underline" href="https://www.linkedin.com/company/trieveai"
          >linkedin.com/company/trieveai</a
        >
      </p>
      <p>
        Discord:
        <a class="underline" href="https://discord.gg/eBJXXZDB8z"
          >discord.gg/eBJXXZDB8z</a
        >
      </p>
      <p>
        Matrix:
        <a
          class="underline"
          href="https://matrix.to/#/#trieve-general:trieve.ai"
          >matrix.to/#/#trieve-general:trieve.ai</a
        >
      </p>
    </div>
  </div>
</div>
{% endblock %}
