<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      defer
      data-domain="hnnojs.trieve.ai"
      src="https://plausible.trieve.ai/js/script.js"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://cdn.trieve.ai/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://cdn.trieve.ai/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://cdn.trieve.ai/favicon-16x16.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Trieve HN Discovery (No JS)" />
    <meta
      property="og:site_name"
      content="Trieve discovery interface for Hacker News without any javascript"
    />
    <meta property="og:url" content="https://hnnojs.trieve.ai" />
    <meta
      property="og:description"
      content="Trieve HN Discovery is an open source discovery-focused search engine for
      Hacker News. With features like LLM-generated query suggestions, site filters,
      semantic search, RAG AI chat, and order by descendant count, it offers a
      comprehensive search experience for the Hacker News community."
    />
    <meta property="og:type" content="" />
    <meta property="og:image" content="https://cdn.trieve.ai/blog/trieve-hn-discovery/trieve-hn-discovery-preview-opengraph.webp" />
    <title>Trieve HN Discovery (No JS)</title>
    <link rel="stylesheet" href="/static/output.css" />
  </head>

  <body class="font-sans">
    <main
      class="mx-auto bg-[#F6F6F0] font-verdana text-[13.33px] sm:bg-hn md:m-2 md:mx-auto md:w-[85%]"
    >
      {% block navbar %}
      <header
        class="flex min-h-[24px] items-center justify-between bg-[#ff6600] px-2 py-[2px]"
      >
        <div class="flex">
          <a class="flex items-center" href="/"
            ><span class="pr-2"
              ><img
                src="https://cdn.trieve.ai/trieve-logo.png"
                alt="Trieve Logo"
                class="h-[18px] w-[18px] border border-white"
            /></span>
            <div class="text-wrap">
              <h1 class="mr-[5px] font-bold">Trieve HN Discovery (No JS)</h1>
            </div>
          </a>
        </div>
        <div class="flex flex-wrap items-center">
          <a href="/" class="pr-1 hover:text-white hover:underline">Search</a
          ><span class="pr-1">|</span
          ><a href="/about" class="pr-1 hover:text-white hover:underline"
            >About</a
          ><span class="pr-1">|</span
          ><a href="/help" class="pr-1 hover:text-white hover:underline">Help</a
          ><span class="pr-1">|</span
          ><a href="https://hn.trieve.ai/" class="pr-1 hover:text-white hover:underline">JS Version</a
          ><span class="pr-1">|</span
          ><a
            href="https://news.ycombinator.com/"
            class="pr-1 hover:text-white hover:underline"
            >Front Page</a
          ><span class="pr-1">|</span
          ><a
            class="flex items-center hover:text-white hover:underline"
            href="https://github.com/devflowinc/trieve"
            ><svg
              stroke-width="2"
              color="currentColor"
              style="overflow: visible"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
              class="mr-0.5 h-3 w-3"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>
            Star Us</a
          >
        </div>
        <div
          class="z-100 fixed right-5 top-10 flex flex-col space-y-2 rounded"
        ></div>
      </header>
      {% endblock %} {% block body %}
      <div class="p-8 text-center">This is the homepage</div>
      {% endblock %} {% block footer %}
      <header
        class="flex min-h-[24px] items-center justify-center border-t border-[#ff6600] px-2 py-[2px]"
      >
        <div class="flex flex-wrap items-center justify-center py-4 text-[8pt]">
          <a
            class="flex items-center hover:underline"
            href="https://github.com/devflowinc/trieve"
            ><svg
              stroke-width="2"
              color="currentColor"
              style="overflow: visible"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
              class="mr-0.5 h-3 w-3"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>
            Star Us</a
          ><span class="px-1">|</span
          ><a
            class="flex items-center hover:underline"
            href="https://discord.gg/eBJXXZDB8z"
            >Discord</a
          ><span class="px-1">|</span
          ><a
            class="flex items-center hover:underline"
            href="https://matrix.to/#/#trieve-general:trieve.ai"
            >Matrix</a
          ><span class="px-1">|</span
          ><a
            class="flex items-center hover:underline"
            href="mailto:humans@trieve.ai"
            >humans@trieve.ai</a
          ><span class="px-1">|</span
          ><a href="https://dashboard.trieve.ai" class="hover:underline"
            >Get Started with Trieve (1k chunks free)</a
          ><span class="px-1">|</span
          ><a href="https://docs.trieve.ai" class="hover:underline">Docs</a
          ><span class="px-1">|</span
          ><a href="https://x.com/trieveai" class="hover:underline">𝕏</a
          ><span class="px-1">|</span
          ><a
            href="https://www.linkedin.com/company/trieveai"
            class="hover:underline"
            ><svg
              stroke-width="0"
              color="currentColor"
              fill="currentColor"
              style="overflow: visible"
              baseProfile="tiny"
              version="1.2"
              viewBox="0 0 24 24"
              class="h-3 w-3"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 19H5V9h3v10zm11 0h-3v-5.342c0-1.392-.496-2.085-1.479-2.085-.779 0-1.273.388-1.521 1.165V19h-3s.04-9 0-10h2.368l.183 2h.062c.615-1 1.598-1.678 2.946-1.678 1.025 0 1.854.285 2.487 1.001.637.717.954 1.679.954 3.03V19z"
              ></path>
              <path
                d="M6.5 5A1.55 1.5 0 1 0 6.5 8 1.55 1.5 0 1 0 6.5 5z"
              ></path></svg></a
          ><span class="px-1">|</span><span>38,099,271 items in index</span>
        </div>
      </header>
      {% endblock %}
    </main>
  </body>
</html>
